@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';

.page__contact-container {
  position: relative;

  .title {
    height: 100%;
    min-height: 900px;
    padding: 1rem;
  }

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {
  
  }
}