@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';

.molecule__footer-container {
  position: relative;
  font-family: "Open Sans";
  width: 100%;
  box-shadow: 0.1px 0.1px 1px red($color: #000000b0);

  &[data-style="light"] {
    color: black;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.2rem;
    margin: 0;
  }

  .highlight {
    font-weight: 600;
    font-size: 2.2rem;
  }

  .smallText {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0;
  }

  .location {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 4.4rem;
    align-self: center;
    padding: 0 1rem;
  }
  
  .contact {
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 3.8rem;

    .mail {
      font-weight: 700;
      font-size: 1.7rem;
    }
  }



  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {

    .content {
      display: grid;
      grid-template-columns: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .location{
        margin: 0;
      }
      .contact {
        margin: 0;
      }
    }
  }
}
