@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';


.page__login-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  .column1 {
    background-image: url("/images/login/background.png");
    background-repeat: no-repeat;
    height: 100%;
  }
  .column2 {
    height: 100%;
  }


  
  
  @include gt-phone {

  }
}
