@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__contact-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $white;
  color: $color-dark-background-6;
  border-radius: 5px;
  justify-content: center;

  .container {
    width: 100%;

    .title {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin: 2rem 0 0 1rem;
      padding: 0;
      font-size: 20px;
    }
    .sub-title {
      font-size: 16px;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      gap: 2rem;
      padding: 1rem;

      .form-group {
        display: grid;
        flex-direction: row;
        width: 100%;
        gap: 1rem;

        .input {
          width: 100%;
        }
      }
    }
    .button-add {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .button-read {
    padding: 1rem;
    span {
      color: $color-dark-background-5;
      &:hover {
        color: $gray-gray-3;
      }
    }
  }
  .read {
    padding: 1rem;
  }

  @include gt-phone {
    width: 100%;
    height: auto;
    padding: 1rem;

    .container {
      width: 100%;

      .title {
        font-size: 32px;
      }

      .sub-title {
        font-size: 24px;
      }

      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        gap: 2rem;
        padding: 1rem;

        .form-group {
          display: grid;
          grid-template-columns: 0.25fr 1fr;
          flex-direction: row;
          width: 100%;
          gap: 1rem;

          .input {
            width: 100%;
          }
        }
      }
      .button-add {
        width: 17rem;
      }
    }
  }
}
