@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: $color-dark-background-5;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  padding: 2rem 1rem 2rem 1rem;

  .container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;

    .info{
      display: flex;
      flex-direction: column;

      .social-container {
        margin-top: 1rem;
      }
    }
  }


  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 51rem;
    //color:$primary-brand-blue;

    .icones {
      svg {
        path {
          fill: $color-orange;
        }
      }
    }
  }

  .titleText {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    //color:$primary-brand-blue;
  }

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {
    margin-top: 2rem;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;

    .container-info {
      gap: 1rem;
      flex-direction: row;
    }
    .links-container {
      flex-direction: row;
    }
  }
  @include tablet {
    .info {
      flex-direction: column;
    }
  }
}
