@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.page__aluno-container {
  position: relative;
  background-image: url("/images/home/background.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;

 
  @include gt-phone {
    .main {
      min-height: 450px;
    }
  }
}
