@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__create-get-container {
  position: relative;
  height: auto;
  max-height: 30rem;
  overflow: auto;
  .container {
    display: flex;
  }
}
