@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';

.molecule__loader-container {
  position: relative;
  height: calc(50vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
