@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';


.page__professor-container {
  position: relative;

  .main {
    height: 100%;
  }
  .div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
