@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';

.organism__container {
    position: relative;
    min-height: 30rem;
    height: auto;

    &[data-style="light"] {
        color: black;
    }

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
    @include gt-phone {

    }
   
}
