@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 88888;
  background: rgba(50, 64, 119, 1);
}

.navbar-container {
  padding: 3rem 2rem;
  .navbar-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .navbar-logo-image {
      display: none;
    }
    .menu-icon {
      display: block;
    }
  }
  .navbar-items {
    display: none;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    .nav-link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &[data-menu-open] {
    .navbar-items {
      display: flex;
    }
  }
}

@include gt-phone {
  .navbar-container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 30px 0;

    .navbar-logo {
      flex-grow: 1;
      display: flex;
      .navbar-logo-image {
        display: block;
      }
      .menu-icon {
        display: none;
      }
    }

    .navbar-items {
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin: 0;
      :last-child {
        padding-right: 8px;
      }
    }
  }
}
