@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__section-info-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: $color-dark-background-5;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-weight: 600;
      color: $white;
      padding: 0;
    }

    .text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $white;
      max-width: 25rem;
      text-align: center;
      padding-bottom: 5rem;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      .button {
        padding: 2rem 0 2rem 0;
      }
    }
  }

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {
    padding: 5rem;

    .container {
      .card-container {
        flex-direction: row;
        .button {
          padding: 4rem 0 2rem 0;
        }
      }
    }
  }

  @include tablet {
    .container {
      .card-container {
        flex-direction: column;
        .button {
          padding: 1rem 0 1rem 0;
        }
      }
    }
  }
}
