@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__section-contact-us-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4rem 1rem 4rem 1rem ;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .title {
      font-weight: 700;
      color: $color-base-8;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.2px;
      text-transform: none;
      padding: 0;
      margin: 0;
    }

    .text {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $color-base-7;
      max-width: 345px;
    }

    .button {
      padding: 2rem 0 2rem 0;
    }
  }

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {
    padding: 5rem;

    .container {
      .button {
        padding: 4rem 0 2rem 0;
      }
    }
  }

  @include tablet {
    .container {
      .button {
        padding: 1rem 0 1rem 0;
      }
    }
  }
}
