$white: #fff;
$black: #000;
$primary-white: #FFFFFF;
$primary-off-white: #F4F0E7;
$primary-black: #000000;
$primary-red: #E3000B;

$secondary-dark-red: #8B0024;
$secondary-orange: #CF513E;
$secondary-yellow: #EBBE31;

$bg-dark-mode: #000;
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$white-text: #fff;
$primary:rgb(0, 132, 255);

$gray-gray-2: #38434b;
$gray-gray-3: #59646d;
$gray-gray-4: #a6acb0;
$gray-gray-5: #d4d7d9;
$gray-gray-6: #ebeced;
$secondary-blue-2: #002732;
$secondary-blue-3: #00495c;
$secondary-blue-4: #04a4b6;
$secondary-blue-5: #a6cdd7;
$secondary-blue-6: #ebf4f6;

// theme/colors

// texts
$color-text: #222;
// Background
$color-background-1: #ffffff;
$color-background-2: #F2F2F2;
$color-background-3: #fbfbfb;
// base
$color-base-1: #38434b;
$color-base-2: #59646d;
$color-base-3: #a6acb0;
$color-base-4: #d4d7d9;
$color-base-5: #ebeced;
$color-base-6: $white;
$color-base-7: #737373;
$color-base-8: #252B42;


// primary
$color-primary-0: #00708d44; // almost transparent
$color-primary-1: #00708d;
$color-primary-fade: #00708dbb; // a little fade out
$primary-brand-blue: $color-primary-1;
$color-primary-2: #00708d99; // with transparency
$color-primary-3: #F5F5F6;
$color-primary-4: #fff;
$color-primary-5: #fff;
// secondary
$color-secondary-1: #ebf4f6;
$color-secondary-2: #002732;
$color-secondary-3: #00495c;
$color-secondary-4: #04a4b6;
$color-secondary-5: #a6cdd7;
$color-secondary-6: #ebf4f6;
$color-secondary-7: #59a2b5;
// warning
$color-warning: #ffd336;
// danger
$color-danger: #dd7208;
$color-orange: #FF6551;
$color-danger-translucent: #dd720899;
// success
$color-success-1: #008849;
$color-success-2: #00884999;

// DARK MODEF
// texts
$color-dark-text: #ffffff;
// Background
$color-dark-background-1: #1b212d;
$color-dark-background-2: #212733;
$color-dark-background-3: #1b212d;
$color-dark-background-4: #E5E5E5;
$color-dark-background-5: #26335D;
$color-dark-background-6: #303972;


// base
$color-dark-base-1: #f2f2f2;
$color-dark-base-2: #cfceca;
$color-dark-base-3: #7c818b;
$color-dark-base-4: #636a79;
$color-dark-base-5: #3d4454;
$color-dark-base-6: #2a303d;
// primary
$color-dark-primary-1: #3b1e5a;
$color-dark-primary-2: #4d2a74;
$color-dark-primary-3: #7e5da3;
$color-dark-primary-4: #bb6bd9;
$color-dark-primary-5: #ccccff;
// secondary
$color-dark-secondary-1: #119edb;
$color-dark-secondary-2: #23cdfd;
$color-dark-secondary-3: #67deff;
$color-dark-secondary-4: #99e9ff;
$color-dark-secondary-5: #c4f2ff;
$color-dark-secondary-6: #CDE4EA;
$color-dark-secondary-7: #A6CDD7;
$color-dark-background-8: #44C7FF;

// Warning
$color-dark-warning: #ffd336;
// danger
$color-dark-danger: #de323c;
$color-dark-danger-translucent: rgba(255, 0, 13, 0.06);
// success
$color-dark-success-1: #a2dd00;
$color-dark-success-2: #cdfd4a;

// gradients
$gradient-brand: linear-gradient(to top, $primary-brand-blue 30%, rgba(0, 0, 0, 0.1));
$gradient-brand-light: linear-gradient(to top, $color-primary-2 0%, $color-primary-0);
$gradient-blue: linear-gradiente( #00708d, 12,89%, #00a800 104.73%);
$gradient-gray: linear-gradiente( 359.71deg, #59646d 26.18%, rgba(56, 67, 75,0.33) 65.64%, rgba(0, 0, 0, 0.12) 88.13%);

$color-blue-background-1: #EBF4F6;
$color-pearly-red: #AA0000;
$color-pearly-dark: #0A0A0A;
$color-pearly-gray: #BDBDBD;
$color-pearly-blue: #0D1FBE;
$color-pearly-beige: #FFEFD0;
$color-blue-gradiente-1: linear-gradient(359.71deg, #00708D 26.18%, rgba(1, 112, 141, 0.33) 65.64%, rgba(0, 0, 0, 0.12) 88.13%);
$color-blue-gradiente-2: linear-gradient(265.33deg, #59a2b5 0%, #00708d 100%);







