  // n is number of stars required
@function multiple-box-shadow ($n) {
    $value: '#{random(3000)}px #{random(3000)}px #FFF';
    @for $i from 2 through $n{
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #FFF';
    }
    @return unquote($value)
};

@function multiple-box-shadow-light ($n) {
    $value: '#{random(3000)}px #{random(3000)}px #00BFFF';
    @for $i from 2 through $n{
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #00BFFF';
    }
    @return unquote($value)
};
$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

$shadows-small-light:  multiple-box-shadow-light(700);
$shadows-medium-light: multiple-box-shadow-light(200);
$shadows-big-light:    multiple-box-shadow-light(100);