@import '_colors';
@import '_mixins';

.page__home-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section-hero {
    margin-bottom: 5rem;
  }


  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
