@import 'utils/styles/_colors';
@import 'utils/styles/_mixins';


.page__home-container {
  position: relative;
  display: flex;
  flex-direction: center;
  flex-direction: column;
  justify-content: center;
  


  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
