*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  background-color: #fff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  text-decoration: none;
  list-style: none;
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@import './grid-system.scss';
@import './_fonts.scss';
