@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__contact-form-container {
  position: relative;
  display: flex;
  width: 100%;
  background: $white;
  border-radius: 5px;

  .container {
    width: 100%;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      gap: 2rem;
      padding: 1rem;

      .form-group {
        display: grid;
        grid-template-rows: 0.75fr 1fr;
        flex-direction: row;
        width: 100%;
        gap: 1rem;

        .input {
          width: 100%;
        }
      }
    }
    .button-add {
      width: 100%;
    }
  }

  @include gt-phone {
    width: 100%;
    height: auto;
    padding: 1rem;

    .container {
      width: 100%;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        gap: 2rem;
        padding: 1rem;

        .form-group {
          display: grid;
          grid-template-columns: 0.75fr 1fr;
          flex-direction: row;
          width: 100%;
          gap: 1rem;

          .input {
            width: 100%;
          }
        }
      }
      .button-add {
        width: 17rem;
      }
    }
  }
}
