@import "utils/styles/_colors";
@import "utils/styles/_mixins";

.organism__contact-form-container {
  position: relative;
  display: flex;
  width: 100%;
  background: $white;
  padding: 1rem;
  border-radius: 5px;

  .container {
    width: 100%;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      gap: 2rem;
      padding: 1rem;

      .form-group {
        display: grid;
        grid-template-rows: 0.75fr 1fr;
        flex-direction: row;
        width: 100%;
        gap: 1rem;

        .input {
          width: 100%;
        }
      }
    }

    .result {
      width: 100%;
      padding: 1rem;
    }
    .button-remove {
      width: 100%;
    }
  }

  @include gt-phone {
    width: 100%;

    .container {
      width: 100%;
  
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        gap: 2rem;
        padding: 1rem;
  
        .form-group {
          display: grid;
          grid-template-columns: 0.75fr 1fr;
          flex-direction: row;
          width: 100%;
          gap: 1rem;
  
          .input {
            width: 100%;
          }
        }
      }
    }
  }
}
